<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">Username</lang>
        <lang name="russian">Username</lang>
    </name>
    <author>
        <lang name="default">Chiliec</lang>
        <lang name="russian">Chiliec</lang>
    </author>
    <homepage>http://chiliec.ru</homepage>
    <version>1.0.0</version>
    <requires>
        <livestreet>0.5.1</livestreet>
        <plugins>
        </plugins>
    </requires>
    <description>
        <lang name="default">Changing %username% to nick of user, who reading that.</lang>
        <lang name="russian">Подменяет %username% на ник пользователя, который читает это.</lang>
    </description>
</plugin>
